body {
    font-family: Inter, "Segoe UI", Ubuntu, "Helvetica Neue", Arial, sans-serif;
}

.content {
  flex: 1;
  padding: 3rem 4rem;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: auto;
}

article {
  width: 100%;
  max-width:100%;
}

h1, h2, h3, h4 {
    font-weight: 600;
    color: #113311;  
    margin-top: 40px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.6rem;
    border-bottom: 2px solid #cfd9cf;
    padding-bottom: 10px;
}

h2 {
    font-size: 2rem;
    border-left: 4px solid #76c276;
    padding-left: 12px;
}

h3 {
    font-size: 1.7rem;
    color: #224422;
}


p {
    margin: 22px 0;
    font-size: 1.125rem;   
    line-height: 1.6;
}


.source {
  font-size: 0.85rem;
  color: #777;
  text-align: right;
  margin-top: -0.5rem;
  margin-bottom: 1.2rem;
}

.source a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}

.source a:hover {
  color: #6cc99e;
  text-decoration: underline;
  transition: color 0.2s ease;
}


ul, ol {
    margin: 20px 40px;
}


blockquote {
    border-left: 4px solid #aacaaa;
    padding-left: 15px;
    margin-left: 20px;
    color: #444;
    font-style: italic;
    background: #f4f8f4;
    padding: 10px 15px;
}

code, pre {
    background: #e0e4e0;
    padding: 5px 8px;
    border-radius: 5px;
    font-family: Inter, "Segoe UI", Ubuntu, "Helvetica Neue", monospace;
    line-height: 1.6;
}

video {
    display: block;
    margin: 30px auto;
    max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1.5rem auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); 
}

